<li>
  <table class="table">
    <tr>
      <td>
        <%= notification.message %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} ago)" %>
      </td>
    </tr>
  </table>
</li>
