<div class="container">
  <!-- ココに二つボタン（feed_images, like_imagesの選択） -->
  <% if @microposts %>
    <% @which_micropost = "image_only_post" %>
    <!-- 下記コードはリファクタリングできる　with users/show  -->
    <div class="row">
      <!-- 後ほどグリッドデザイン -->
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    </div>
  <% end %>
</div>
