// universal
$base-color: #4FF6A2;
$complementary-color: #F5614E;

a {
  color: black;
}

ul{
  list-style: none;
}

.main{
  margin: 30px 0;
}

//user_info
.user_user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_info {
  display: flex;
  img{
    border-radius: 25px;
    width: 50px;
    height: 50px;
  }
  .user_text {
    margin-left: 10px;
  }
}

// _userパーシャル
.user_partial {
  align-items: center;
  margin: 5px 0;
}

//users_show
.text_box {
  margin-top: 15px;
  p {
    background-color: #eeeeee;
  }
}
.edit_info {
  margin-top: 30px;
}




//error
.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}


//typography
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

// form
form {
  margin: 20px 0;
  input, textarea {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }
  // ここから下は例外、個別のデザインを扱う
  .user_policy_field {
    margin-bottom: 15px;
  }
  input[type="checkbox"] {
    width: inherit;
  }
  // microposts_new
  #micropost_image{
      border: none;
      width: inherit;
    #file_upload_button {
      width: inherit;
    }
  }
}


// header
#header {
  background: $base-color;
  .container{
    .header-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


// footer
#footer {
  background-color: $base-color;
  text-align: right;
  padding: 10px 0;
}


// home
.not-logged-in-home {
  background-image: image-url("backgroundOfHome.jpg");
  background-size: cover;
  .container {
    .text-zone {
      margin: 200px auto;
      text-align: center;
      h3 {
        margin: 30px 0;
      }
      .btn {
        margin-top: 30px;
        width: inherit;
        padding: 5px 30px;
      }
    }
  }
}

// search
.search-form {
  display: flex;
  .search-btn {
    width: 70px;
  }
}


// micropost
.panel-default {
  .panel-footer {
    display: flex;
    justify-content: space-between;
    .icons {
      display: flex;
      align-items: flex-start;
      .comment_icon {
        margin-left: 10px;
      }
      form {
        margin: 0;
      }
    }
  }
}

.microposts {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  li {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    min-width: 33.3333%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

//comment
.comment {
  padding: 10px 0;
  border: 1px solid gray;
  .separate {
    display: flex;
    margin-left: 10px;
    .first {
      flex-basis: 50px;
      min-width: 50px;
    }
    .second {
      margin-left: 10px;
      .content{
        overflow-wrap: break-word;
      }
    }
  }
}
