<header id="header">
  <div class="container">
    <div class="header-flex">
      <div class="header-logo">
        <h3><%= link_to "ColorSend", root_path %></h3>
      </div>
      <div class="header-list">
        <ul class="row">
          <li class="col-xs-4"><%= link_to "検索", "#" %></li>
          <li class="col-xs-4"><%= link_to "通知", "#" %></li>
          <li class="col-xs-4"><%= link_to "マイ", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
